/* Cart counter CSS*/
.mob-nav{
    position: relative;
    float: left;
    width: 100%;
}
.cart-counter{
    position: relative;
    float: right;
    padding-left: 45px;
    padding-right: 20px;
    .box {
        width: 40px;
        height: 26px;
        border: #aaa;
        border-radius: 10px;
        margin: 20px;
        position: relative;
        #noti-count {
            position:absolute;
            top:-14px;
            right:-17px;
            background-color:#27275a;
            color:#fff;
            padding:5px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            border-radius: 30px;
            width:30px;
            height:30px;
            text-align:center;
            div {
                margin-top:-6px;
              }
          }
      }
}
a {
    text-decoration: none;
    color: white;
}
 
a:hover, a:active{
    color: lightgray;
}
 
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.logo-img{
    width: 34px;
}
.app-name{
    position: relative;
    float: right;
    margin: 5px;
}
.mat-primary{
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);   
    border-radius: inherit;
}
 
mat-toolbar{
    border-radius: 3px;
}
 
@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}