<div class="form-group col col-md-3 col-sm-6 col-xs-12" *ngFor="let product of products">
    <!-- Product list start here -->
    <mat-card>
            <mat-card-title>{{product.name}}</mat-card-title>
            <div class="col-xs-12">
                <img src="{{product.product_image}}" alt="Product Imgage" class="col-xs-12 product-grid__img" />
            </div>
            <mat-card-subtitle>{{product.price | currency:'INR':true}}</mat-card-subtitle>
            <mat-card-actions>
                <a (click)="addItemToCart(product)">
                    <span class="product-grid__btn product-grid__add-to-cart">
                        <i class="fa fa-cart-arrow-down"></i> Add to cart
                    </span>
                </a>
            </mat-card-actions>
    </mat-card>
</div>		
